// ==========================================================================
//	BILLBOARD
// ==========================================================================
.billboard {
	position: relative;
	width: 100%;
	overflow: hidden;
	p{
		max-width:50em;
	}
}

.billboard--image,
.billboard--bg-color {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.billboard--content {
	p {
		color: @white;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}

.billboard{
	a[class*="btn--"]{
		margin-top: 1em;
	}
}
