@columnbreakpoint: 650px;
// ==========================================================================
//	DEFAULT CONTENT BLOCK
// ==========================================================================

//text
.text-wrapper {
	padding-top: 4%;
	padding-bottom: 4%;
	width: 100%;
	*:last-child {
		margin-bottom: 0;
	}
}

//photo 
[class*="column"].photo > div {
	height:0;
	padding-bottom: 100%;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	order: 1;
	.overlay,
	.gradient,
	.glow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


//when row has a photo...
[class*="default-content-block"].has-photo {
	& > [class*=column]:not(.photo) {
		.container;
		@media screen and (min-width: @columnbreakpoint) {
			> .text-wrapper {
				width: 50%;
			}
			&:first-of-type {
				& > .text-wrapper {
					float: left;
					padding-right: 4%;
				}
			}
			&:last-of-type {
				& > .text-wrapper {
					float: right;
					padding-left: 4%;
				}
			}
		}
	}
	&.photo-first {
		.flex-container();
		.flex-direction(column-reverse);
		@media screen and (min-width: @columnbreakpoint) {
			display: block;
			.flex-direction(row);
			& > [class*="column"].photo > div {
				left: 0;
				
			}
		}
	}
}

//when row doesn't have a photo
@media screen and (min-width: @columnbreakpoint) {
	[class*="default-content-block"]:not(.has-photo) {
		& > [class*="column"] {
			width: 50%;
			float: left;
			&:first-of-type {
				padding-right: 4%;
			}
			&:last-of-type {
				padding-left: 4%;
			}
		}
	}
}

//1 column style 
@media screen and (min-width: @columnbreakpoint) {
	.default-content-block--1column:not(.has-photo) {
		& > [class*="column"]:not(.photo) {
			width: 100%;
			float: none;
			padding-left: 0;
			padding-right: 0;
			> .text-wrapper {
				
			}
		}
	}
}
//2 column styles
@media screen and (min-width: @columnbreakpoint) {
	.default-content-block--2column {
		[class*="column"].photo > div {
			position: absolute;
			margin:0;
			top: 0;
			bottom: 0;
			left: 50%;
			width: 50%;
			height: auto;
			padding:0;
			
		}
	}
}



