.grid {
    .container {
        padding: 0;
    }
}

.grid-cols- {
    &0 {
        .container {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &1,
    &2,
    &3,
    &4,
    &5,
    &6 {
        .grid-item {
            margin-bottom: 1em;
            margin-top: 1em;
            width: 100%;
        }
        @media screen and (min-width:600px) {
            .container {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    &2,
    &3,
    &4,
    &5,
    &6 {
        @media screen and (min-width:600px) {
            .grid-item {
                width: 50%;
            }
        }
    }
    &3,
    &4,
    &5,
    &6 {
        @media screen and (min-width:900px) {
            .grid-item {
                width: calc(~"100% / 3");
            }
        }
    }
    &4,
    &5,
    &6 {
        @media screen and (min-width:1000px) {
            .grid-item {
                width: 25%;
            }
        }
    }
    &5,
    &6 {
        @media screen and (min-width:1000px) {
            .grid-item {
                width: 20%;
            }
        }
    }
    &6 {
        @media screen and (min-width:1200px) {
            .grid-item {
                width: calc(~"100% / 6");
            }
        }
    }
}