.inliner {
    background: @inliner-dark-gray;
    @media screen and (min-width:600px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .liner {
        .anim();
        background: @inliner-dark-gray;
        color: @dark-gray;
        display: block;
        overflow: hidden;
        padding: 1em;
        position: relative;
        text-align: center;
        text-decoration: none;
        &:nth-child(even) {
            background: @inliner-soft-gray;
        }
        &::before {
            .anim();
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgb(0,155,223); /* Old browsers */
            background: -moz-linear-gradient(top,  rgba(0,155,223,1) 0%, rgba(0,118,187,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,155,223,1) 0%,rgba(0,118,187,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,155,223,1) 0%,rgba(0,118,187,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009bdf', endColorstr='#0076bb',GradientType=0 ); /* IE6-9 */
            opacity: 0;
            border-bottom: 1px solid lighten(@title-blue, 15%);
            border-radius: 3px;
        }
        @media screen and (min-width:600px) {
            display: flex !important;
            flex-wrap: wrap;
            width: 25%;
        }
        @media screen and (min-width:800px) {
            padding: 2em 1em;
        }
    }
    a.liner {
        &:hover {
            .anim();
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009bdf+0,0076bb+100 */
            border-radius: 3px;
            box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
            transform: scale(1.075,1.075);
            z-index: 9;
            * {
                position: relative;
                color: @white;
                z-index: 2;
            }
            &:before {
                opacity: 1;
            }
            &__link {
                border-bottom: 2px solid fade(@white, 40%);
            }
        }
    }
    h3 {
        color: @title-blue;
        font-size: 1.75em;
        width: 100%;
    }
    .liner {
        &__details {
            width: 100%;
        }
        &__link {
            border-bottom: 2px solid @underline-blue;
            color: @title-blue;
            display: block;
            margin: 0 auto;
            padding-bottom: 1px;
        }
        &__link {
            align-self: flex-end;
            margin-top: 0.5em;
        }
    }
    .opportunity {
        &__details {
            &-location,
            &-type {
                display: block;
                width: 100%;
            }
        }
        &__location,
        &__type {
            line-height: 1.5em;
        }
    }
    
}