.selected-posts {
    overflow: hidden;
    padding: 2em 0;
    .side-content {
        margin-bottom: 2em;
        @media screen and (min-width:768px) {
            float: left;
            margin-right: 1em;
            width: calc(~"35% - 1em");

            & + .selected-content {
                float: right;
                margin-left: 1em;
                width: calc(~"60% - 1em");

                .event-post--excerpt--simple {
                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }
}