// ==========================================================================
//  SUB SECTION SUMMARIES
// ==========================================================================
.simple-side-by-side {
    .card-wrapper {
        margin: 0 auto;
        padding-bottom: 2em;
        @media screen and (min-width:600px) {
            align-items: stretch;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}


@media screen and (min-width:600px) {
    .cols- {
        &1 {
            .card {
                width: 80%;
            }
        }
        &2 {
            .card {
                width: calc(~"50% - 2em");
                &:first-of-type {
                    margin: 0 2em 0 0;
                }
                &:last-of-type {
                    margin: 0 0 0 2em;
                }
            }
        }
    }
}

.card-text *:last-child {
    margin-bottom: 0;
}
.card-title {
    font-family: @serif;
    color:#333;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.card.has-link {
    padding-bottom: 2em;
    position: relative;
}
.has-borders .card {
    .border-radius(3px);
    padding: 2em;
}
.card-link {
    font-size:.85em;
    font-weight:700;
    text-transform: uppercase;
    letter-spacing: .05em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}