.slider {
    .container {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    article {
        margin: 2em 0;
        width: 100%;
        @media screen and (min-width:768px) {
            margin: 0;
            width: 70%;
        }
    }
    button {
        border: 0;
        background: transparent;
        padding: 1em;
        position: relative;
        width: 100%;
        &:focus {
            outline: none;
        }
    }
    .primary-slider {
        width: 100%;
        padding: 0;
        margin: 2em 0 0;
        order: 2;
        @media screen and (min-width:768px) {
            margin: 0;
            order: 0;
        }
        &--vertical {
            text-align: center;
            button {
                &.slick-prev {
                    &:after {
                        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); 
                        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
                        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
                        top: 0;
                        bottom: -5em;
                        content: "";
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        right: 0;
                    }
                }
                &.slick-next {
                    &:before {
                        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
                        top: -5em;
                        bottom: 0;
                        content: "";
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        right: 0;
                    }
                }
                i {
                    position: relative;
                    z-index: 10;
                }
            }
        }
        &--horizontal {
            @media screen and (max-width:767px) {
                padding-bottom: 5em;
                position: relative;
                button {
                    background-color: @teal;
                    border-radius: 3px;
                    color: @white;
                    padding: 0;
                    position: absolute;
                    bottom: 1em;
                    width: 30%;
                    &.slick-prev {
                        left: 0;
                    }
                    &.slick-next {
                        right: 0;
                    }
                    i {
                        line-height: inherit;
                    }
                }
            }
        }
        &--simple-items {
            font-weight: 900;
        }
        @media screen and (min-width:768px) {
            &--vertical {
                width: 30%;
            }
        }
    }
}
/*&.scroller {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-height: 1400px;
        @media screen and (min-width:768px) {
            display: flex;
            align-items: baseline;
        }
    }
    .primary-slider {
        padding: 1em;
        order: 2;
        @media screen and (min-width:768px) {
            width: 75%;
        }
        @media screen and (min-width:900px) {
            width: 70%;
        }
    }
    .trigger-list {
        display: none;
        padding: 1em;
        order: 1;
        text-align: center;
        li {
            font-weight: 700;
            padding: 0.5em;
        }
        @media screen and (min-width:768px) {
            display: block;
            width: 25%;
        }
        @media screen and (min-width:900px) {
            width: 30%;
        }
        button {
            border: 0;
            background: transparent;
            padding: 1em;
            position: relative;
            width: 100%;
            &:focus {
                outline: none;
            }
            &.slick-prev {
                &:after {
                    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); 
                    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
                    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
                    top: 0;
                    bottom: -5em;
                    content: "";
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    right: 0;
                }
            }
            &.slick-next {
                &:before {
                    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
                    top: -5em;
                    bottom: 0;
                    content: "";
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    right: 0;
                }
            }
            i {
                position: relative;
                z-index: 10;
            }
        }
    }
}*/