.special-list {
    ul,
    li {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        line-height: 1.5;
        position: relative;
    }

    &.featured_content {
        .container {
            margin-bottom: 3em;
            max-width: 1200px;
            @media screen and (min-width:600px) {
                display: flex;
                flex-wrap: wrap;
            }
            @media screen and (min-width:768px) {
                align-items: center;
            }
        }
        @media screen and (min-width:600px) {
            article,
            aside {
                width: calc(~"50% - 2em");
            }
            article {
                margin-right: 2em;
            }
            aside {
                margin-left: 2em;
            }
        }
        @media screen and (min-width:960px) {
            article {
                width: calc(~"60% - 2em");
            }
            aside {
                width: calc(~"40% - 2em");
            }
        }
        @media screen and (min-width:1000px) {
            article {
                width: calc(~"70% - 2em");
            }
            aside {
                width: calc(~"30% - 2em");
            }
        }
        aside {
            li {
                font-weight: 700;
                margin-bottom: 0.75em;
            }
        }
    }

    .icon-check,
    .icon-arrow {
        li {
            &:before {
                font-family: @material;
                position: absolute;
                left: -1.25em;
                top: -3px;
            }
        }
    }
    .icon-check {
        li {
            &:before {
                content: '\e5ca';
            }
        }
    }
    .icon-arrow {
        li {
            &:before {
                content: '\e315';
            }
        }
    }

    .featured-list-renderer {
        padding: 2em 1em 0;
        @media screen and (min-width:600px) {
            padding: 0;
        }
    }
}