// ==========================================================================
//	START NEW BACKGROUND
// ==========================================================================
.new-background {
	position: relative;
	width: 100%;
	overflow: hidden;
	p {
		color: currentColor;
	}
}

.new-bg--image,
.new-bg--opacity {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}