// ==========================================================================
//	SUB SECTION SUMMARIES
// ==========================================================================
.sub-section-summaries {
	.card-wrapper {
		& > div {
			margin-top: 1.5em;
			margin-bottom: 1.5em;
		}
	}
}
.card-text *:last-child {
	margin-bottom: 0;
}
.card-title {
	font-family: @serif;
	color:#333;
	text-transform: uppercase;
	letter-spacing: .05em;
}

.card.has-link {
	padding-bottom: 2em;
	position: relative;
}
.card-link {
	font-size:.85em;
	font-weight:700;
	text-transform: uppercase;
	letter-spacing: .05em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}