
// ==========================================================================
//	LAYOUT
// ==========================================================================

.blog, .archive {

	a.article-title {
		text-decoration: none;
	}

	img.alignright {
		margin: 0 1em;
	}

	.main-sidebar {
		margin-top:1em;
		padding-left:1em;
		.blog-widgets {
			h4 {
				text-align: center;
				margin-top:.7em;
			}
			ul {
				list-style-type: none;
				padding: 0;
				margin: auto;
				li {
					border-bottom: 1px solid @upload-bg;
					padding: .6em 0;
					a {
						text-decoration: none;
						color: @gray;
						font-size:.7em;
					}
				}
			}
		}

		@media screen and (min-width: 720px) {
			width:25%;
			float:left;
		}
	}

	.main-content {
		border-right: 1px solid @upload-bg;
		padding-right:2em;
		@media screen and (min-width: 720px) {
			width:65%;
			float:left;
			margin:1em;
		}
		.blog-post-content {
			overflow:hidden;
			position: relative;
			.content-container {
				width:85%; 
				float:left;
				a {
					text-decoration: none;
					border-bottom: 3px solid @underline-blue;
					padding-bottom:.2em;
					color: @blue;
				}
			}
			.share-this {
				width:15%;
				float:left;
				text-align: center;
				// position:sticky;
				// left: 80%;
				ul {
					list-style-type: none;
					padding-left:0;
					li {
						display: block;
						span {
							display:none;
						}
						.fa{
							margin-bottom:10px;
							border-radius: 3px;
							font-size: 1.5em;
							&-twitter {
								background-color: #0084FF;
							}
							&-facebook {
								background-color: #3b5998;
							}
							&-linkedin {
								background-color: #0376a8;
							}
						}
						a {
							color:white;
							border-radius: 3px;
							width:4em;
							text-decoration:none;
						}
					}
				}
				// @media screen and (min-width: 720px) {
				// 	left:55%;
				// 	top:80%;
				// }
			}
		}
	}

	&.is-single-post {
		margin-top:1em;
		p {
			width:96%;
			max-width:100%;
		}
		.article-title {
			margin-bottom:.2em;
		}

		.feature-img {
			margin-bottom:1em;
			 img {
				width:100%;
				max-width:100%;
				height:auto;
			}
		}
	}

	&-post--excerpt {
		padding: 2em 0;
		&:after{
			content: "";
			position: absolute;
			background-color: @input-gray;
			height:1px;
			width:90%;
			margin-top:40px;
			@media screen and (min-width: 620px) {
				width:68%;
			}
		}
		p {
			margin: 0 0 .5em 0;
			max-width:700px;
		}
		h3 {
			margin-top: .5em;
			max-width:700px;
		}
		img.alignright {
			margin-top:-20px;
		}
		@media screen and (max-width: 880px) {
			img.alignright {
				margin:.5em auto;
				float:none;
			}
		}
	}

	.featured-post {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
		padding:13em 0;
		p {
			margin-bottom:1em;
		}
		.blue-link {
			color:white;
			background: @secondary-blue;
			margin:.8em 0;
			padding:.6em;
			border-bottom:none;
			border-radius: .2em;
		}
		.blog-post--excerpt {
			padding-left: 2.667em;
			color: white !important;
			font-weight: 600;
			&:after {
				display: none !important;
			}
		}

		img {
			display:none;
		}
		@media screen and (min-width: 720px) {
			padding:11em;
		}
		a {
			color:white;
		}
	}
}
.overlay{
 
	position: absolute;
	content:" ";
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
	z-index:0;
	background-color: rgba(0,34,105,0.7);
}


// ==========================================================================
//	PAGINATION
// ==========================================================================
.post-pagination {
	clear: left;
	ul {
		text-align: center;
		padding: 0;
		list-style: none;
		margin: 2em 0;
		li {
			display: inline-block;
			margin: .3em;
			.page-numbers {
				text-align: center;
				font-weight: 700;
				color: @black;
				font-family: @sans-serif;
				padding: 5px 15px;
				.border-radius(100%);
				border: 4px solid @black;
				text-decoration: none;
				display: none;
			}
			a:hover {
				background: @gray;
			}
			.page-numbers.current {
				color: @dark-gray;
				border-color: @dark-gray;
				margin: 0 .5em;
			}
			.page-numbers.next, 
			.page-numbers.prev {
				display: block;
				&:extend(.btn--white-btn);
				text-transform: uppercase;
				border: 4px solid @black;
				padding: .3em .9em;
				&:hover {
					background: @gray;
				}
			}
			@media screen and (min-width: 500px) {
				.page-numbers {
					display: block;
				}
			}
		}
	}
}


// ==========================================================================
//	RELATED POSTS
// ==========================================================================
.related-posts {
	margin: 2em 0;
	.title {
		font-size:inherit;
		@media screen and (min-width:600px) {
			font-size: 1.6em;
		}
	}
	h4 {
		text-align: center;
		display: block;
		position: relative;  
		font-size: .8em;
		&:before, &:after {
		 content: "";
		 position: absolute;
		 height: 10px;
		 border-bottom: 2px solid @upload-bg;
		 border-top: 2px solid @upload-bg;
		 width: 40%;
		}
		&:before {
			right: 60%;
		}
		&:after {
			left: 60%;
		}
	}
	ul {
		padding: 0;
		.flex-container();
		.flex-wrap();
		.flex-justify(space-between);
		li {
			list-style: none;
			width: 49%;
			float: left;
			margin-bottom: 2em;
			.border-radius(3px);
			overflow: hidden;
			a {
				text-decoration: none;
				
				img, 
				.no-image {
					display: block;
					width: 100%;
					height: auto;
					border: 3px solid #f9f9f9;
				}
				.no-image {
					height: 0;
					padding-bottom: 75%;
					background: #fefefe;
				}
			}
			a:hover {
				border-color: #eee;
			}
		}
	}
	@media screen and (min-width: 900px) {
		ul {
			li {
				margin-bottom: 0;
			}
		}
	}
}

// ==========================================================================
//	POST NAVIGATION
// ==========================================================================
.post-navigation {
	margin: 2em 0;
	.flex-container();
	.flex-wrap();
	.flex-justify(space-between);
	a {
		.button(@primary_color, @white, 1em);
		&.prev {
			float: left;
			&::before {
				content: '\f053';
				font-family: 'FontAwesome';
				color: @white;
				margin-right: .4em;
			}
		}
		&.next {
			float: right;
			&::after {
				content: '\f054';
				font-family: 'FontAwesome';
				color: @white;
				margin-left: .4em;
			}
		}
		span {
			display: none;
		}
	}
	@media screen and (min-width: @navbreakpoint) {
		a {
			text-align: left;
			width: 48%;
			padding: 1em;
			&:hover {
			}
			&.prev {
				border-right: 1px solid @white;
				padding-left: 40px;
				&::before {
					margin: 0;
					position: absolute;
					top: 50%;
					left: 10px;
					.transform(translateY(-50%));
				}
			}
			&.next {
				border-left: 1px solid @white;
				padding-right: 40px;
				text-align: right; 
				&::after {
					margin: 0;
					position: absolute;
					top: 50%;
					right: 10px;
					.transform(translateY(-50%));
				}
			}
			span {
				display: block;
				text-transform: none;
			}
		}
	}
}

.post-meta {
	a {
		text-decoration:none;
		color:@gray;
	}
	p {
		margin-bottom:.2em;
	}
	svg {
		&.circle {
			display: none;
			@media screen and (min-width:600px) {
				display: inline-block;
			}
		}
		@media screen and (min-width:600px) {
			margin-top: -4px;
			margin-right: .2em;
		}
	}
}

.pagintation {
	&--posts {
		margin: 0 auto;
		padding: 2em 1em;
		ul {
			margin: 0;
			padding: 0;
			text-align: center;
		}
		li {
			display: inline-block;
			list-style-type: none;
			margin-bottom: 1em;
		}
		span,
		a {
			border: 1px solid darken(@bootcamp-callout-gray, 5%);
			border-radius: 3px;
			display: inline-block;
			font-family: @avenirbold;
			font-size: 0.8em;
			letter-spacing: 0.1em;
			padding: 0.9em 0 0.8em;
			text-align: center;
			width: 4em;
			@media screen and (min-width:600px) {
				padding: 0.5em 0em 0.4em;
				width: 3em;
			}
		}
		span {
			background: @link-blue;
			border: 1px solid @link-blue;
			color: @white;
		}
		a {
			.anim();
			color: @link-blue;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				background: @teal;
				border: 1px solid @teal;
				color: @white;
			}
		}
		.prev,
		.next {
			padding: 0.9em 1em 0.8em;
			width: auto;
			@media screen and (min-width:600px) {
				padding: 0.5em 1em 0.4em;
			}
		}
	}
}

// ==========================================================================
//	SEARCH POSTS
// ==========================================================================
.no-posts-spacer {
	height: 2em;
	@media screen and (min-width:600px) {
		height: 3em;
	}
}
#eventsearchform,
#opportunitysearchform {
	border-bottom: 1px solid darken(@bootcamp-callout-gray, 5%);
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	select {
		background-color: @input-gray;
		background-image: url('../img/select_caret.png');
		background-position: 95% 50%;
		background-repeat: no-repeat;
		background-size: 10px;
		border: 0;
		border-radius: 2px;
		color: @input-copy-gray;
		font-size: 0.8em !important;
		letter-spacing: 0.1em;
		margin-bottom: 1em;
		padding: 0.8em 1em 0.6em;
		text-transform: uppercase;
	}
}
#eventsearchform {
	max-width: 850px;
	padding: 0 1em;
	@media screen and (min-width:600px) {
		padding: 0 2em;
	}
	@media screen and (min-width:850px) {
		padding: 0;
	}
	select {
		@media screen and (min-width:600px) {
			width: calc(~"50% - 1em");
			&:first-child {
				margin-right: 2em;
			}
		}
	}
}
#opportunitysearchform {
	margin-bottom: 1em;
	@media screen and (min-width:600px) {
		margin-bottom: 4em;
	}
	max-width: 960px;
	padding: 0 1em;
	@media screen and (min-width:850px) {
		padding: 0;
	}
	select {
		@media screen and (min-width:600px) {
			width: calc(~"(100% / 3) - 1.5em");
			margin-right: 1.5em;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

// ==========================================================================
//	EVENT POSTS
// ==========================================================================
.event-posts-wrapper {
	padding: 3em 0;
	nav {
		max-width: 850px;
		padding: 1em 2em;
	}
}

.posts-archive {
	.event-post--excerpt {
		&--bootcamp,
		&--simple {
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
			padding: 2em 1em;
		}
	}
}

.bootcamp-archive {
	padding: 3em 0 0;
	.event-post--excerpt--bootcamp {
		margin-bottom: 4em;
	}
}

.event-post--excerpt {
	&--bootcamp,
	&--simple {
		display: flex;
		flex-wrap: wrap;

		.excerpt-image {
			margin-bottom: 1em;
			width: 100%;
			img {
				max-width: 100%;
			}
		}
		.excerpt-content {
			width: 100%;
			& > *:last-child {
				margin-bottom: 0;
			}
		}

		@media screen and (min-width:600px) {
			justify-content: flex-end;
			padding: 3em 2em;
			.excerpt-content {
				width: 70%;
			}
			.excerpt-image {
				padding-right: 2em;
				width: 30%;
			}
		}

		.excerpt-action {
			.anim();
			border-bottom: 3px solid lighten(@secondary-blue, 40%);
			color: @title-blue;
			font-family: @avenirbold;
			padding-bottom: 3px;
			position: relative;
			text-decoration: none;
			&:hover {
				border-bottom-color: @secondary-blue;
			}
			i {
				position: relative;
				top: 6px;
			}
			i[data-event-type="bootcamp"] {
				top: 8px;
				transform: rotate(45deg);
			}
		}
	}
	&--simple {
		border-top: 1px solid @bootcamp-callout-gray;
		max-width: 850px;
		@media screen and (min-width:850px) {
			padding: 3em 0;
		}
		&:first-child {
			border-top: 0;
		}
	}
	&--bootcamp {
		background-color: @bootcamp-callout-gray;
		border-bottom: 1px solid darken(@bootcamp-callout-gray, 5%);
		position: relative;
		max-width: calc(~"850px + 4em");
		&:before {
			content: "";
			background-color: @bootcamp-border-blue;
			border: 1px solid @bootcamp-border-blue;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: 8px;
			z-index: 3;
		}

		& + .month-group {
			margin-top: 2em;
		}

		@media screen and (min-width:850px) {
			border-left: 1px solid darken(@bootcamp-callout-gray, 5%);
			border-right: 1px solid darken(@bootcamp-callout-gray, 5%);
			border-radius: 3px;
			padding: 3em 2em;
		}
	}
	&-title {
		a {
			.anim();
			color: @title-blue;
			font-weight: 200;
			text-decoration: none;
		}
	}
}
.event-post--excerpt--bootcamp + .event-post--excerpt--simple,
.month-group + .event-post--excerpt--simple {
	border-top: 0;
}

.home {
	.event-post--excerpt {
		&--simple {
			padding: 1.5em 0;
		}
	}
}

.month-group {
	border-bottom: 3px solid @teal;
	color: @teal;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 850px;
	padding: 0 1em;
	text-transform: uppercase;
	@media screen and (min-width:600px) {
		padding: 0 2em;
	}
	@media screen and (min-width:850px) {
		padding: 0;
	}

	& + .event-post--excerpt--bootcamp {
		margin-top: 2em;
	}
}

.event-details {
	font-family: @avenirbold;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
	li {
		display: inline-block;
		line-height: 1em;
		list-style-type: none;
		padding: 0;
		&:first-child {
			border-right: 1px solid @divider-gray;
			margin-right: 1em;
			padding-right: 1em;
		}
	}
	i {
		color: @title-blue;
		font-size: 1.25em;
		margin-right: 0.25em;
		position: relative;
		top: 3px;
	}
}

.empty-search {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 2em 1em;
	max-width: 850px;
	text-align: center;
	@media screen and (min-width:600px) {
		padding: 0 2em;
	}
	@media screen and (min-width:850px) {
		padding: 0;
	}
}

.event-content {
	margin: 3em auto;
	max-width: 850px;
	h1 {
		color: @title-blue;
	}
}

.apply-form,
#gform_1 {
	background-color: @bootcamp-callout-gray;
	border-radius: 3px;
	overflow: hidden;
	padding: 2em 0;
	@media screen and (min-width:768px) {
		padding: 3em 0 0;
	}
	position: relative;
	h3 {
		text-align: center;
	}
	form {
		padding: 1em;
		@media screen and (min-width:768px) {
			padding: 1em 2em;
		}
	}
	&:before {
		background-color: @title-blue;
		content: "";
		display: block;
		height: 10px;
		position: absolute;
		top: 0;
		width: 100%
	}
}

#gform_1 {
	.gform_heading,
	.gform_body,
	.gform_footer {
		padding: 1em;
		@media screen and (min-width:768px) {
			padding: 1em 2em;
		}
	}
}

// ==========================================================================
//	OPPORTUNITY POSTS
// ==========================================================================
.opp {
	margin: 3em auto;
	&-table {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		max-width: 960px;
		position: relative;
		article {
			padding: 2em 1em 3em;
			width: 100%;
			@media screen and (min-width:600px) {
				align-items: center;
				display: flex;
				flex-wrap:wrap;
				padding: 0.5em 1em;
				&:first-child {
					.opp-loc {
						&:before {
							color: @teal;
							content: 'Location';
							font-size: 0.8em;
							font-weight: 700;
							letter-spacing: 0.1em;
							text-transform: uppercase;
							display: block;
							position: absolute;
							top: -2em;
						}
					}
					.opp-type {
						&:before {
							color: @teal;
							content: 'Type';
							font-size: 0.8em;
							font-weight: 700;
							letter-spacing: 0.1em;
							text-transform: uppercase;
							display: block;
							position: absolute;
							top: -2em;
						}
					}
				}
			}
			&:nth-child(even) {
				background-color: @row-stripe-gray;
			}
		}
		@media screen and (min-width:600px) {
			border-top: 3px solid @teal;
		}
		&:before {
			border-bottom: 3px solid @teal;
			color: @teal;
			content: 'Current Opportunities';
			font-size: 0.8em;
			font-weight: 700;
			letter-spacing: 0.1em;
			padding: 1.5em 1em 0.25em;
			text-transform: uppercase;
			width: 100%;
			@media screen and (min-width:600px) {
				display: none;
			}
		}
	}
	&-title {
		a {
			.anim();
			color: @title-blue;
			font-size: 1.5em;
			text-decoration: none;
			&:hover {
				color: @teal;
			}
			@media screen and (min-width:600px) {
				font-size: 1em;
			}
		}
		@media screen and (min-width:600px) {
			padding-right: 1em;
			width: 40%;
		}
	}
	&-action {
		a {
			.anim();
			border-bottom: 3px solid lighten(@secondary-blue, 40%);
			color: @title-blue;
			padding-bottom: 3px;
			text-decoration: none;
			&:hover {
				border-bottom-color: @secondary-blue;
			}
		}
		@media screen and (min-width:600px) {
			text-align: right;
			width: 20%;
		}
		@media screen and (min-width:630px) {
			width: 15%;
		}
	}
	&-type {
		@media screen and (min-width:600px) {
			padding-right: 1em;
			width: 10%;
		}
		@media screen and (min-width:630px) {
			width: 15%;
		}
	}
	&-loc {
		@media screen and (min-width:600px) {
			padding-right: 1em;
			width: 30%;
		}
	}
	&-content {
		margin: 3em auto;
		max-width: 850px;
		h1 {
			color: @title-blue;
		}
		li {
			margin-bottom: 0.75em;
		}
	}
	&-disclaimer {
		padding: 2em 0;
		& > * {
			font-size: 0.8em;
		}
	}
}

