/* ==========================================================================
	SITE FOOTER
============================================================================= */
.site-footer {
	border-top: 3px solid @secondary-blue;
    padding: 1em 0 2em;
    @media screen and (min-width:600px) {
        padding: 2em 0 5em;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
}

.footer-main-nav {
    margin-bottom: 1em;
    order: 2;
    padding: 0 2em;
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    a {
        color: @dark-gray;
        display: block;
        font-family: @avenir;
        padding: 0.25em 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            text-decoration: underline;
        }
    }
    @media screen and (min-width:600px) {
        width: 50%;
        a {
            text-align: left;
        }
    }
    @media screen and (min-width:768px) {
        width: 32.5%;
    }
}

.footer-contact-info {
    color: @dark-gray;
    display: inline-block;
    font-family: @avenir;
    margin: 0 auto;
    order: 2;
    padding: 0 2em;
    span[itemprop='name'],
    span[itemprop='streetAddress'],
    span[itemprop='telephone'],
    span[itemprop='faxNumber'],
    span[itemprop='email'] {
        display: block;
    }
    span[itemprop='name'] {
        position: relative;
        &:before {
            color: @link-blue;
            content: '\e8b4';
            font-family: @material;
            font-size: 1.25em;
            position: absolute;
            left: -1em;
            top: -5px;
        }
    }
    span[itemprop='telephone'] {
        position: relative;
        &:before {
            color: @link-blue;
            content: "\e0cd";
            font-family: @material;
            font-size: 1.25em;
            position: absolute;
            left: -1.2em;
            top: -5px;
        }
    }
    span[itemprop='faxNumber'] {
        position: relative;
        &:before {
            color: @link-blue;
            content: "\e8ad";
            font-family: @material;
            font-size: 1.25em;
            position: absolute;
            left: -1.2em;
            top: -5px;
        }
    }
    @media screen and (min-width:600px) {
        width: 50%;
    }
    @media screen and (min-width:768px) {
        width: 32.5%;
    }
}

.footer-social-nav {
    order: 1;
    margin-bottom: 1em;
    padding: 0 2em;
    width: 100%;
    ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    li {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0.75em;
    }
    span {
        display: none;
    }
    a {
        background-color: @secondary-blue;
        border-radius: 3px;
        color: @white;
        display: block;
        font-size: 1.25em;
        line-height: 2em;
        text-align: center;
        text-decoration: none;
        width: 2em;
    }
    @media screen and (min-width:768px) {
        order: 3;
        width: 35%;
        ul {
            text-align: right;
        }
        li {
            padding: 0 0.5em;
        }
    }
}