/* ==========================================================================
	FORM ELEMENTS
============================================================================= */
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
select{
	font-size:16px !important;
	width:100%;
	border:solid 1px #e5e5e5;
	padding:.75em;
	display:block;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	vertical-align: middle;
	&:focus {
		outline: none;
		background: #fafafa;
	}
}


.select-wrapper, 
.ginput_container_select {
	border:solid 1px #e5e5e5;
	background: @white;
	position: relative;
	vertical-align: middle;
	&::before,
	&::after {
		content: "";
		position: absolute;
		pointer-events: none;
		top: 0;
		right: 0;
		bottom: 0;
		width: 3em;
	}
	&::after {
		content: '\f078';
		font-family: 'FontAwesome';
		color: @black;
		line-height: 1;
		font-size: 1em;
		text-align: center;
		top: 58%;
		.transform(translate(16%, -63%));
	}
	select {
		background: transparent;
		border: 0;
		padding: 0.5em 2em 0.5em 0.5em;
		width: 100% !important;
	}
}

input[type="submit"] {
	border: 0;
	display: block;
	-webkit-appearance: none;
	padding: 0.9em 1.25em;
	width: 100%;
	@media screen and (min-width:600px) {
		padding: 1.2em 4em 0.9em;
		width: auto;
	}
}
label{
	font-size:1em;
	display: block;
	font-weight:700;
	margin-bottom: .4em;
	color: @dark-gray;
}

.ginput_container_fileupload {
	position: relative;
	input[type="file"] {
		display: block;
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.file-name {
		display: flex;
		padding: 1em 0;
	}
	&:before {
		background: @upload-bg;
		border: 1px solid @upload-border;
		border-radius: 2px;
		box-sizing: border-box;
		content: "Choose File";
		display: block;
		font-weight: 900;
		padding: 0.5em;
		text-align: center;
		width: 100%;
		@media screen and (min-width:600px) {
			width: 50%;
		}
	}
}


// ==========================================================================
//	gravity form overrides 
// ==========================================================================

.gform_hidden,
.gform_validation_container {
	display: none!important;
}

.gform_body {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
	}
}

.gform_footer {
	padding: 1em 0;
	input[type="submit"] {
		@media screen and (min-width:600px) {
			display: inline-block;
		}
	}
}

.gfield {
	margin-bottom: 1em;
}

.gfield_required {
	color: @secondary-blue;
}

.hide-primary-label {
	& > .gfield_label {
		display: none;
	}
}

.gfield_contains_required {
	.ginput_container {
		label {
			&:first-child {
				&:after {
					color: @secondary-blue;
					content: '*';
				}
			}
		}
	}
}

.gfield_list {
	width: 100%;
	tr {
		display: block;
		margin-top: 0.75em;
		&:first-child {
			margin-top: 0;
		}
	}
	td {
		width: 87%;
	}
}

.name_first {
	display: block;
	margin-bottom: 1em;
}

@media screen and (min-width:600px) {
	.ginput_container_name {
		width: 100%;
		display: flex;
		&.gf_name_has_ {
			&2 {
				.name_first,
				.name_last {
					display: block;
					width: calc(~"50% - 1em");
				}
				.name_first {
					margin-bottom: 0;
					margin-right: 2em;
				}
			}
		}
	}

	#gform_fields_1,
	#gform_fields_2,
	#gform_fields_3 {
		display: flex;
		flex-wrap: wrap;
		li {
			&:first-child {
				width: 100%;
			}
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				display: block;
				width: calc(~"50% - 1em");
			}
			&:nth-child(2),
			&:nth-child(4) {
				margin-right: 2em;
			}
		}
	}
	#gform_fields_1,
	#gform_fields_3 {
		li {
			&:nth-child(6) {
				width: 100%;
			}
		}
	}
}

.gform_confirmation_message {
	font-size: 2em;
	padding: 2em;
	text-align: center;
	@media screen and (min-width:600px) {
		padding-top: 0em;
	}
	&:before {
		color: @title-blue;
		content: "\e86c";
		display: block;
		font-family: @material;
		font-size: 3em;
	}
}

.validation_error {
	background-color: @error-red;
	border-radius: 3px;
	margin-bottom: 1em;
	padding: 2px 5px 0;
	color: @white;
}

.validation_message {
	background-color: @error-red;
	color: @white;
	padding: 2px 5px 0;
}

.gform_ajax_spinner {
	display: block;
	margin: 2em auto 0;
	max-width: 30px;
	@media screen and (min-width:600px) {
		display: inline-block;
		margin: 0 0 0 1em;
	}
}

#gform_1 {
	.validation_error {
		margin-right: 1em;
		margin-left: 1em;
		@media screen and (min-width:768px) {
			margin-right: 2em;
			margin-left: 2em;
		}
	}
}