// ==========================================================================
//    HEADER
// ==========================================================================
.site-header {
    .anim();
    background: @white;
    display: flex;
    margin: 0 auto 0;
    padding: 1em;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 100;
}

// ==========================================================================
//    LOGGED IN / ADMIN BAR
// ==========================================================================
.logged-in.admin-bar {
    #wpadminbar {
        position: fixed;
        top: 0;
        left: 0;
    }
}

.site-header {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    .logo {
        width: 40%;
        @media screen and (min-width:550px) {
            width: 120px;
        }
    }
    img {
        max-width: 100%;
    }
    nav {
        padding-top: 7px;
        text-align: right;
        width: 60%;
        @media screen and (min-width:550px) {
            padding-top: 0;
            width: calc(~"100% - 120px");
        }
    }
    li {
        display: inline-block;
        list-style-type: none;
        position: relative;
    }
    a {
        display: block;
    }
}

.primary {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    a {
        color: @link-blue;
        font-family: @avenir;
        font-size: 0.8125em;
        padding: 0.5em 1em;
        text-decoration: none;
        text-transform: uppercase;
    }
    .sub-menu {
        background-color: @sub-blue;
        display: none;
        margin: 0;
        padding: 0;
        text-align: left;
        li {
            display: block;
            margin-left: 0;
        }
    }
    .secondary {
        a {
            color: @secondary-blue;
            text-transform: none;
        }
    }
}

.menu-item-has-children {
    position: relative;
    a {
        &:after {
            content: "\f0d7";
            color: @nav-gray;
            font-family: @font-awesome;
            padding-left: 10px;
        }
    }
    .sub-menu {
        padding: 0 1em;
        a {
            .anim();
            font-weight: 900;
            padding: 0.5em 0;
            text-transform: none;
            &:after {
                content: '';
            }
            &:hover {
                color: @secondary-blue;
            }
        }
        li {
            border-top: 1px dotted @divider-blue;
            &:first-child {
                border-top: 0;
            }
        }
    }
    .sub {
        color: @sub-menu-description-text;
        font-weight: 100;
    }
    &:hover {
        background-color: @sub-blue;
        a {
            color: @white;
            &:after {
                color: @white;
            }
        }
        .sub-menu {
            display: block;
            position: absolute;
            top: 100%;
            width: 200%;
        }
    }
}

.nav__dropdown {
    &-wrapper {
        display: inline-block;
    }
    .menu-item-has-children {
        &:hover {
            .sub-menu {
                position: relative !important;
            }
        }
    }
    &-toggle {
        background: none;
        border: 0;
        color: @link-blue;
        font-family: @avenir;
        font-size: 0.8125em;
        padding: 7px 1em;
        text-transform: uppercase;
        &:after {
            content: "\f0c9";
            font-family: @font-awesome;
            padding-left: 5px;
        }
        &.is-open {
            background-color: @sub-blue;
            color: @white;
        }
        &:focus {
            outline: none;
        }
    }
}
.priority-nav {
    &__dropdown {
        display: none;
        &.show {
            background-color: @sub-blue;
            display: block;
            position: absolute;
            top: 57px;
            right: 1em;
            margin: 0;
            padding: 0 1em;
            @media screen and (max-width:599px) {
                left: 1em;
            }
        }
        a {
            color: @white;
            font-size: 0.9em;
            font-weight: 700;
            letter-spacing: 0.1em;
            text-decoration: none;
            text-transform: uppercase;
            &:after {
                content: "";
            }
        }
        li {
            border-bottom: 1px dotted lighten(@white, 10%);
            display: block;
            padding: 0.75em 0;
            text-align: left;
            &:last-child {
                border-bottom: 0;
            }
        }
        .sub,
        br {
            display: none;
        }
        .sub-menu {
            margin-bottom: 0;
            padding: 0 5px;
            position: relative;
            a {
                color: @sub-menu-description-text;
                font-weight: 100;
                padding-left: 15px;
                position: relative;
                 &:before {
                    content: "\e315";
                    font-family: @material;
                    font-size: 0.9em;
                    position: absolute;
                    left: 0;
                    top: 7px;
                }
            }
            li {
                border: 0;
                padding: 0;
            }
        }
    }
    &-is-hidden {
        display: none;
    }    
}

.current_page_ancestor,
.current_page_item {
    & > a {
        color: @teal !important;
    }
}