// ==========================================================================
//	UNIVERSAL BLOCK
// ==========================================================================
[class^="block"] {
	position: relative;
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	& > .container *:last-child {
		margin-bottom: 0;
	}
}


// ==========================================================================
//	COLUMNS
// ==========================================================================
[class*="columns-"]:not(.default-content-block) {
	.row();
	margin-bottom: 2em;
	&::before {
		display: none;
	}
}
.columns-1 {
	& > div:not(.container) {
		.column(12);
	}
}
.columns-2,
.columns-4,
.columns-6 {
	& > div:not(.container) {
		.column(6);
	}
}

.columns-4,
.columns-6 {
	& > div:not(.container) {
		@media screen and (min-width: 600px) {
			.column(3);
		}
	}
}

.columns-6 {
	& > div:not(.container) {
		@media screen and (min-width: 900px) {
			.column(2);
		}
	}
}

.columns-3,
.columns-5 {
	& > div:not(.container) {
		.column(6);
		@media screen and (min-width: 750px) {
			.column(4);
		}
	}
}

.columns-5 {
	& > div:not(.container) {
		@media screen and (min-width: 950px) {
			.column(2.4)
		}
	}
}

// ==========================================================================
//	MISC ELEMENTS
// ==========================================================================
.flexible-video {
	width: 100%;
	max-width: 960px;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	iframe,
	object,
	embed {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	@media screen and (min-width: 1300px) {
		padding-bottom: 42.55%;
	}
}


.align-content-left {
	margin-left: 0;
}
.align-content-right {
	margin-right: 0;
	margin-left: auto;
}
.align-content-center {
	margin-left: auto;
	margin-right: auto;
	p {
		margin-left: auto;
		margin-right: auto;
	}
}


// ==========================================================================
//	DESIGN PATTERNS
// ==========================================================================
.card-wrapper {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}
.card-wrapper.odd-card-count,
.card-wrapper.columns-3,
.card-wrapper.columns-5 {
	.flex-container();
	.flex-justify(space-around);
	.flex-wrap(wrap);
	&::after {
		display: none;
	}
}

.card {
	margin-bottom: 2em;
	&:last-of-type {
		margin-bottom: 0;
	}
	.card-link {
		cursor: pointer;
	}
}
.card.text-with-meta {
	.column(12);
	@media screen and (min-width: 600px) {
		.column(6);
	}
	@media screen and (min-width: 750px) {
		.column(4);
	}
	.card-meta {
		border-top: 2px solid lighten(@gray, 5%);
		padding: 1em 0;
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			left: 1.1em;
			border: 7px solid transparent;
			border-top-color: lighten(@gray, 5%);
		}
	}
	.card-meta.has-thumbnail {
		padding-left: calc(~"50px + 1em");
	}
	.card-meta-thumbnail {
		position: absolute;
		left: 0;
		top: 1em;
		max-width: 50px;
	}
	.card-meta-info {
		
	}
	.subtle-color {
		opacity: .8;
	}
}

.card.featured-image {
	.card-image {
		text-align: center;
		margin: auto;
		height: 150px;
		margin-bottom: .8em;
		&::after {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: bottom;
		}
		img {
			vertical-align: bottom;
			display: inline-block;
		}
	}
	@media screen and (min-width: 600px) {
		&.left {
			.card-image {
				float: left;
				margin: 0 10px 0 0;
				height: auto;
				max-width: 100px;
			}
		}
		&.right {
			.card-image {
				float: right;
				margin: 0 0 0 10px;
				height: auto;
				max-width: 100px;
			}
		}
	}
}

// ==========================================================================
//	ACF FLEXIBLE CONTENT LAYOUTS
// ==========================================================================
@import "layouts/billboard.less";
@import "layouts/default_content_block.less";
@import "layouts/start_new_background.less";
@import "layouts/sub_section_summaries.less";
@import "layouts/side_by_side.less";
@import "layouts/grid.less";
@import "layouts/special_list.less";
@import "layouts/inliner.less";
@import "layouts/post_selector.less";
@import "layouts/slider.less";