@font-face {font-family: 'AvenirLT-Medium';src: url('../fonts/avenir/2C8645_0_0.eot');src: url('../fonts/avenir/2C8645_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/avenir/2C8645_0_0.woff2') format('woff2'),url('../fonts/avenir/2C8645_0_0.woff') format('woff'),url('../fonts/avenir/2C8645_0_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Black';src: url('../fonts/avenir/2C8645_1_0.eot');src: url('../fonts/avenir/2C8645_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/avenir/2C8645_1_0.woff2') format('woff2'),url('../fonts/avenir/2C8645_1_0.woff') format('woff'),url('../fonts/avenir/2C8645_1_0.ttf') format('truetype');}

@import 'base/_lesshat.less';
@import 'base/_grid.less';
@import 'base/_normalize.less';
@import 'base/base.less';
@import 'mixins.less';

// ==========================================================================
//	GLOBAL SIZE VARIABLES
// ==========================================================================
@navbreakpoint: 800px; //update nav.js

@maxwidth: 100%; //container max-width

// ==========================================================================
//	GENERAL
// ==========================================================================
*{
	.box-sizing(border-box);
}
html,body{
	margin: 0;
	width:100%;
	overflow-x:hidden;
}
body {
	position: relative;
	font-family: @sans-serif;
	line-height:1.8;
	color: @dark-gray;
	font-size:14px;
	background: @white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media screen and (min-width: @navbreakpoint) {
		font-size: 16px;
	}
}

// ==========================================================================
//	TYPOGRAPHY 
// ==========================================================================
h1, h2, h3, h4, h5, h6 {
	font-family: @avenirlight;
	font-weight: 100;
	margin-bottom: .5em;
	line-height: 1.3;
}

h1 {
	letter-spacing: 0.01em;
}

p {
	font-family: @sans-serif;
	font-size: 1em;
	margin: 0 0 1.5em 0;
	max-width: 800px;
	a {
		text-decoration: underline;
	}
}

a[href^="tel"] {
	color: inherit;
	text-decoration: inherit;
}

ul {
	margin: 0 0 1.5em 0;
	li {
		font-family: @sans-serif;
		font-size: 1em;
		line-height: 1.8;
	}
}


// ==========================================================================
//	GLOBAL LAYOUT
// ==========================================================================
.container {
	width: 100%;
	max-width: @maxwidth;
	padding: 0 1.667em;
	margin: auto;
	position: relative;
}

.row {
	.row();
}

.content-wrapper {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

// ==========================================================================
//	GLOBAL COMPONENTS
// ==========================================================================
//buttons
/*.btn--primary-btn {
	.button(@primary_color, @white, 1em);
}

.btn--secondary-btn {
	.button(@secondary_color, @white, 1em)
}

.btn--text-btn {
	.button(@white, @primary_color, 1em);
	background: transparent;
	border: 2px solid @primary_color;
}*/
.btn-- {
	&blue_primary {
		.button(@color: @secondary-blue, @hover_change: 'dark');
		&:hover {
			box-shadow: 0 0.25em 0.3em fade(@true-black, 30%);
		}
	}
	&teal_primary {
		.button(@teal);
		&:hover {
			box-shadow: 0 0.25em 0.3em fade(@true-black, 30%);
		}
	}
	&dark-teal_primary {
		.button(@dark-teal);
		&:hover {
			box-shadow: 0 0.25em 0.3em fade(@true-black, 30%);
		}
	}
	&white_primary {
		.button(@white, @teal);
		&:hover {
			box-shadow: 0 0.25em 0.3em fade(@true-black, 30%);
		}
	}
}

// ==========================================================================
//	EDITOR COMPONENTS
// ==========================================================================
.pre-headline {
	display: block;
	font-size: 0.55em;
	text-transform: uppercase;
}

.thin-header {
	font-family: @avenirlight;
}

.all-caps {
	text-transform: uppercase;
}

.extra-letter-spacing {
	letter-spacing: 0.1em;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.center-axis-list {
	margin: 0;
	padding: 0;
	@media screen and (min-width:600px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	li {
		list-style-type: none;
		margin: 0;
		@media screen and (min-width:600px) {
			padding: 0.5em 1em;
			width: 50%;
			&:nth-child(odd) {
				text-align: right;
			}
		}
	}
}

.grid-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		padding: 1em;
		text-align: center;
		width: 50%;
		@media screen and (min-width:600px) {
			width: calc(~"100% / 3");
		}
	}
	img {
		margin-bottom: 0.75em !important;
		max-width: 100%;
	}
}

.white-text {
	& > * {
		border-color: @white;
		color: @white;
	}
}
.blue-text {
	color: @blue;
	& > * {
		border-color: @blue;
		color: @blue;
	}
}

.light-blue-text {
	color: @secondary-blue;
}

.text-teal {
	color: @teal;
}



.plain-text {
	.anim();
	border-bottom: 0px solid;
	padding-bottom: 2px;
	text-decoration: none;
	&:hover {
		border-bottom: 3px solid;
	}
	&--arr {
		.anim();
		border-bottom: 0px solid;
		padding-bottom: 2px;
		text-decoration: none;
		&:after {
			content: "\e317";
			display: inline-block;
			font-family: @material;
			padding-right: 3px;
			padding-bottom: 3px;
			transform: rotate(180deg);
		}
		&:hover {
			border-bottom: 3px solid;
		}
	}
}

.blue-link {
	text-decoration: none;
	border-bottom: 3px solid @underline-blue;
	padding-bottom:.2em;
	color: @blue;
}
.no-wrap {
	white-space: nowrap;
}

.material-icons.reverse {
	display: inline-block;
	position: relative;
	transform: rotate(180deg);
	bottom: -6px;
}

.serif-font {
	font-family: @serif;
}

.sub-headline {
	font-size: 1.4em;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 37.5px 0 37.5px;
	margin: 0 auto;
}

img.rounded-corners {
	border-radius: 5px;
}
img.circle-image {
	border-radius: 9999em;
}

// ==========================================================================
//	WORDPRESS CLASSES
// ==========================================================================
.alignleft, 
.alignright, 
.aligncenter,
.alignnone {
	margin: 0 auto 1em;
	display: block;
	max-width: 100%;
	height: auto;
}

@media screen and (min-width: 700px) {
	.alignnone {
		margin: 0 0 1.5em;
	}
	.alignleft {
		float: left;
		margin: 0 1em 1em 0;
	}
	.alignright {
		float: right;
		margin: 0 0 1em 1em;
	}
}

.error-404 {
	display: flex;
	height: 80vh;
	align-items: center;
	justify-content: center;
}



// ==========================================================================
//	HEADER
// ==========================================================================
@import 'header.less';

// ==========================================================================
//	FOOTER
// ==========================================================================
@import 'footer.less';

// ==========================================================================
//	FORMS
// ==========================================================================
@import "forms.less";

// ==========================================================================
//	FlEXIBLE CONTENT LAYOUT
// ==========================================================================
@import 'layout.less';

// ==========================================================================
//	BLOG STUFF
// ==========================================================================
@import 'blog.less';

// ==========================================================================
//	STYLES PROVIDED BY THIRD PARTIES
// ==========================================================================
@import 'lib/slick.less';