// ==========================================================================
//	COLORS
// ==========================================================================
@true-black: #000000;
@black: #333333;
@dark-gray: #555555;
@gray: #777777;
@light-gray: #999999;
@input-gray: #cacaca;
@input-copy-gray: #424242;
@divider-gray: #cccccc;
@bootcamp-callout-gray: #f6f6f6;
@row-stripe-gray: #f1f1f1;
@white: #ffffff;
@inliner-dark-gray: #dfdfdf;
@inliner-soft-gray: #f3f3f3;
@upload-border: #959595;
@upload-bg: #eeeeee;

@blue: #002269;
@link-blue: #172767;
@sub-blue: #223d6e;
@divider-blue: #4d759b;
@secondary-blue: #009bdf;
@bootcamp-border-blue: #009bde;
@title-blue: #003a70;
@sub-menu-description-text: #cbd1db;
@underline-blue: #86c4e0;

@teal: #00c6c6;
@dark-teal: #009c9f;

@nav-gray: #bbbbbb;

@primary_color: blue;
@secondary_color: red;

@error-red: #e74c3c;

// ==========================================================================
//	FONTS
// ==========================================================================
@avenirlight: 'Avenir LT W01_45 Book1475508', helvetica, arial, sans-serif;
@avenir: 'Avenir LT W01_65 Medium1475532';
@avenirbold: 'Avenir LT W01_95 Black1475556';
@sans-serif: @avenir, helvetica, arial, sans-serif;
@serif: "Merriweather", georgia, serif;
@font-awesome: 'FontAwesome';
@material: 'Material Icons';


//==========================================================================
//	MINI MIXINS
// =========================================================================
.anim(@property: all, @time:.3s) {
	-webkit-transition: @property @time ease-out;
	   -moz-transition: @property @time ease-out;
	    -ms-transition: @property @time ease-out;
	     -o-transition: @property @time ease-out;
	        transition: @property @time ease-out;
}

.button(@color:@black, @font-color:@white, @font-size:1em, @hover_change:"light") {
	.anim();
	position: relative;
	display: inline-block;
	vertical-align: middle;
	.border-radius(3px);
	background-color: @color;
	color:@font-color;
	font-size:@font-size;
	text-align: center;
	padding: .5em 1.25em 0.4em;
	position: relative;
	letter-spacing: .05em;
	font-family: @avenir;
	cursor:pointer;
	overflow: hidden;
	text-decoration: none;
	&:hover when (@hover_change = "light") {
		background: lighten(@color, 5%);
	}
	&:hover when (@hover_change = "dark") {
		background: darken(@color, 5%);
	}
	&:after {
		content: '\e315';
		font-family: @material;
		padding-left: 0.25em;
		position: relative;
		top: 3px;
	}
}



// ==========================================================================
//	FLEX STUFF
// ==========================================================================
.flex-container() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flex-direction(@direction:row) {
	-ms-flex-direction: @direction;
	-webkit-flex-direction: @direction;
	flex-direction: @direction;
}
.flex-wrap(@wrap:wrap) {
	-ms-flex-wrap: @wrap;
	-webkit-flex-wrap: @wrap;
	flex-wrap: @wrap;
}
.flex-justify(@justify:space-around) {
	-ms-justify-content: @justify;
	-webkit-justify-content:@justify;
	justify-content: @justify;
}
.flex-align(@align:flex-start) {
	-ms-align-items: @align;
	-webkit-align-items: @align;
	align-items: @align;
}
